In [3]:
import spacy
import pathlib
import numpy as np
import pandas as pd

In [4]:
path = pathlib.Path().resolve()
print(path)

/Users/dr/Documents/web_processing/assignment-code/nlp

In [5]:
nlp = spacy.load("en_core_web_md")

In [6]:
with open(str(path) + "/SSillinois.txt") as f:
    text = f.read()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/dr/Documents/web_processing/assignment-code/nlp/SSillinois.txt'

In [7]:
doc = nlp("Rolihlahla Mandela was born into the Madiba clan in the village of Mvezo, in the Eastern Cape, on 18 July 1918. His mother was Nonqaphi Nosekeni and his father was Nkosi Mphakanyiswa Gadla Mandela, principal counsellor to the Acting King of the Thembu people, Jongintaba Dalindyebo. In 1930, when he was 12 years old, his father died and the young Rolihlahla became a ward of Jongintaba at the Great Place in Mqhekezweni")

In [8]:
for token in doc[:10]:
    print(token)

Rolihlahla
Mandela
was
born
into
the
Madiba
clan
in
the

In [9]:
tokens_df = pd.DataFrame()

token_text = np.array([])
pos = np.array([])
lemma = np.array([])
ent_type = np.array([])
synt_dep = np.array([])

In [10]:
tokens = doc

for token in tokens:
    # print(token, token.ent_type_)
    token_text = np.append(token_text, token)
    pos = np.append(pos, token.pos_)
    lemma = np.append(lemma, token.lemma_)
    ent_type = np.append(ent_type, token.ent_type_)
    synt_dep = np.append(synt_dep, token.dep_)

tokens_df['token'] = token_text
tokens_df['pos_tag'] = pos
tokens_df['lemma'] = lemma
tokens_df['entity_type'] = ent_type
tokens_df['syntactic_dependency'] = synt_dep

tokens_df

          token pos_tag        lemma entity_type syntactic_dependency
0    Rolihlahla   PROPN   Rolihlahla      PERSON             compound
1       Mandela   PROPN      Mandela      PERSON            nsubjpass
2           was     AUX           be                          auxpass
3          born    VERB         bear                             ROOT
4          into     ADP         into                             prep
..          ...     ...          ...         ...                  ...
75          the     DET          the         FAC                  det
76        Great   PROPN        Great         FAC             compound
77        Place   PROPN        Place         FAC                 pobj
78           in     ADP           in                             prep
79  Mqhekezweni   PROPN  Mqhekezweni         ORG                 pobj

[80 rows x 5 columns]

In [ ]:
ner_df = pd.DataFrame()

ner_labels = np.array([])
ner_types = np.array([])

In [9]:
# doc.ents are the named entities in the document.
# Returns a tuple of named entity Span objects, if the entity recognizer has been applied.
# recognizes when whitespace is necessary, such as in a persons name
for ent in doc.ents[:50]:
    # print(ent.text, ent.label_)

    ner_labels = np.append(ner_labels, ent.text)
    ner_types = np.append(ner_types, ent.label_)

ner_df['label'] = ner_labels
ner_df['ner_type'] = ner_types

ner_df

                  label ner_type
0           SS Illinois      LOC
1  William Cramp & Sons      ORG
2                  1873     DATE

In [34]:
illinois = ner_df
illinois

                         label     ner_type
0                     Illinois          GPE
1               Sufjan Stevens       PERSON
2   Come on Feel the Illinoise  WORK_OF_ART
3                    Illinoise      PRODUCT
4                         2005         DATE
5                     American         NORP
6               Sufjan Stevens       PERSON
7                        fifth      ORDINAL
8                         U.S.          GPE
9                     Illinois          GPE
10                    Illinois          GPE
11                     Stevens       PERSON
12                      second      ORDINAL
13                        U.S.          GPE
14                       fifty     CARDINAL
15                        2003         DATE
16                    Michigan          GPE
17                     Stevens       PERSON
18                     Stevens       PERSON
19               New York City          GPE
20           between late 2004         DATE
21                  early 2005         DATE
22                     Stevens       PERSON
23                     Stevens       PERSON
24                    Illinois          GPE

In [42]:
ssillinois = ner_df
ssillinois

                     label  ner_type
0              SS Illinois       LOC
1     William Cramp & Sons       ORG
2                     1873      DATE
3                     four  CARDINAL
4             Pennsylvania       GPE
5                 Illinois       GPE
6                    three  CARDINAL
7             Pennsylvania       GPE
8                     Ohio       GPE
9                  Indiana       GPE
10       the United States       GPE
11                   first   ORDINAL
12                   first   ORDINAL
13                 British      NORP
14  the American Civil War       ORG
15                Illinois       GPE
16                   first   ORDINAL
17         the U.S. Navy's       ORG
18              USS Supply       ORG
19               the 1870s      DATE
20                Illinois       GPE
21                   first   ORDINAL
22       the United States       GPE
23                  Europe       LOC
24            twenty years      DATE
25              USS Supply       ORG
26                 Spanish      NORP
27     the First World War     EVENT
28                   first   ORDINAL
29           United States       GPE
30                Illinois       GPE
31                    1928      DATE

In [1]:
for ent in doc.ents:
    print(ent.text, ent.start_char-ent.sent.start_char, ent.end_char-ent.sent.start_char, ent.label_)
#                                 ^^^^^^^^^^^^^^^^^^^^              ^^^^^^^^^^^^^^^^^^^^

NameError: name 'doc' is not defined